*,
::before,
::after {
    box-sizing: border-box;
}

.container {
    font-family: "DM Sans", sans-serif;
    max-width: 500px;
    background: #ff6666;
    color: #fff;
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    -webkit-box-shadow: 4px 4px 7px 4px rgba(255, 125, 80, 0.37);
    box-shadow: 4px 4px 7px 4px rgba(255, 125, 80, 0.37);
}

.title {
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid rgba(225, 225, 225, 0.3);
}

.title span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
}

.task-list {
    margin-top: 2.6rem;
    list-style: none;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    margin: 0 -3rem 4px;
    padding: 1.1rem 3rem;
    align-items: center;
    background: rgba(225, 225, 225, 0.1);
    transition: all 0.5s ease;
    transform-origin: top left;
}

.fall {
    transform: rotate(10deg);
    opacity: 0;
}

.task-list .actions {
    /* flex-shrink : 0 la khong cho phep bi co lai neu thay doi kich thuoc man hinh */
    flex-shrink: 0;
    padding-left: 0.7rem;
    display: flex;
    align-items: center;
}

.task-list .btn-action {
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
}

input[type="checkbox"] {
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
}


.task-list .label {
    transition: opacity 0.2s linear;
}

.task-list .done .label {
    opacity: 0.6;
    text-decoration: line-through;
}

.filter-wrapper {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.form {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.form label {
    /* dieu nay lam cho label dung 1 minh, khong cho ai dung cung */
    min-width: 100%;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.form input {
    /* flex-grow : 1 co nghia la cho nguyen thanh input chiem het chieu dai con lai */
    flex-grow: 1;
    border: none;
    background-color: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
}

.form button {
    padding: 0 1.3rem;
    border: none;
    background-color: #ff6666;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(225, 225, 225, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s ease-out;
}

.form button:hover {
    filter: brightness(110%);
}

.form input,
.form button {
    font-family: "Quicksand", sans-serif;
    height: 3rem;
}